main {
    min-height: 70vh;
}

/* Forms */
form.session-form {
    max-width: 26rem;
    margin: 2rem auto;
}

form.wide-form {
    max-width: 40rem;
    margin: 2rem 0;
}

form.session-form h2,
form.wide-form h2 {
    margin-bottom: 2rem;
}

form.session-form h3,
form.wide-form h3 {
    margin-bottom: 1rem;
}
